
@{
    string dataOrigin = Url.Content("~/Products/GetAllProducts");
}


<head>
    <link href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" rel="stylesheet">
</head>
<body>
    <h1> WELCOME </h1>
    <input type="button" value="Show Products" onclick="getProducts()" />
    <div id="ProductsContext"></div>
</body>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js" defer></script>
<script src="~/js/dataTable.js" type="text/javascript"></script>
<script type="text/javascript"></script>

<script type="text/javascript">
    let productsContext = document.getElementById("ProductsContext");
    const dataTable = new DataTable("@dataOrigin", productsContext);

    function getProducts() {
        dataTable.fillContext();
    }
</script>